基本はフォーラムへの投稿を見て，train test のカテゴリ割合の違いを考えるように．  
もう一つの根拠として，トピックモデルからも train test の違いを推察できるかもという話．

In [1]:
from collections import Counter
import pandas as pd

In [2]:
train_df = pd.read_csv('../processed_data/train_df_2865_topic_theta.csv')
test_df = pd.read_csv('../processed_data/test_df_topic_theta.csv')

In [3]:
topic_category_df = pd.DataFrame()
for topic_id in range(20):
    topic_category_df[topic_id] = (train_df[train_df['topic_id'] == topic_id].jobflag.value_counts())
topic_category_df.sort_index(inplace=True)

### トピックidごとに，ある程度分かれている

In [4]:
topic_category_df.T

      1   2    3   4
0     7  14   88  19
1    54  16   35  47
2    21   5   35  41
3    28   8   65  44
4   107  14   16  14
5    16  11   84  41
6    10   4  113  25
7    18  15   65  58
8    49  10   39  22
9    61  29   13   5
10   74  82   20   4
11   13   6   69  60
12   41  19   54  10
13    4   5   75  35
14   16  12   75  21
15   21  11   92   6
16    8   7   58  77
17   36  27   78  12
18   16  17  176  16
19   13  18   98  17

In [5]:
topic_dist_df = pd.concat([train_df.topic_id.value_counts(normalize=True), test_df.topic_id.value_counts(normalize=True)], axis=1)
topic_dist_df.columns = ['train', 'test']
topic_dist_df['diff'] = topic_dist_df['test'] - topic_dist_df['train']

### trainとtestでトピックの分布が異なる

In [6]:
topic_dist_df.sort_values('diff')

       train      test      diff
18  0.078534  0.040734 -0.037800
7   0.054450  0.042456 -0.011995
17  0.053403  0.043029 -0.010374
12  0.043281  0.033276 -0.010005
16  0.052356  0.043029 -0.009327
1   0.053054  0.049340 -0.003714
14  0.043281  0.041308 -0.001973
3   0.050611  0.048766 -0.001844
0   0.044677  0.044177 -0.000500
8   0.041885  0.041882 -0.000003
19  0.050960  0.052209  0.001249
4   0.052705  0.054504  0.001799
9   0.037696  0.040161  0.002464
10  0.062827  0.065404  0.002577
5   0.053054  0.061388  0.008334
6   0.053054  0.061962  0.008908
13  0.041536  0.052783  0.011247
11  0.051658  0.064831  0.013173
15  0.045375  0.061388  0.016013
2   0.035602  0.057372  0.021770

In [7]:
topic_category_df.T.iloc[[18]]

     1   2    3   4
18  16  17  176  16

### trainに多いカテゴリ3が多いトピック18が，testでは少なくなっている．
カテゴリ3はtestでは少なくなっているかも？と推測